/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Logo styling */
.navbar-logo .logo {
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Navbar hover effect for the logo */
.navbar-logo .logo:hover {
  transform: scale(1.05);
}

/* Navbar buttons container */
.navbar-buttons {
  display: flex;
  gap: 20px;
}

/* Button styles */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Outline button style */
.btn.btn-outline {
  background-color: transparent;
  color: #4b79a1;
  border: 2px solid #4b79a1;
}

.btn.btn-outline:hover {
  background-color: #4b79a1;
  color: white;
  transform: translateY(-2px);
}

/* Primary button style */
.btn.btn-primary {
  background-color: #4b79a1;
  color: white;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  .navbar {
    padding: 8px 15px; /* Reduzindo o espaçamento interno */
  }

  .navbar-logo .logo {
    height: 30px; /* Reduzindo o tamanho da logo */
  }

  .navbar-buttons {
    gap: 12px; /* Diminuindo o espaçamento entre os botões */
  }

  .btn {
    padding: 8px 14px; /* Menos padding para os botões */
    font-size: 14px; /* Menor tamanho da fonte */
  }

  /* Esconder o botão de cadastro em telas menores */
  .navbar-buttons a:nth-child(2) {
    display: none;
  }
}
